<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>TechShop</title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
        <!--meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    </head>
    <body>
        <header>
            <nav>
                <a class="logo nav-link" href="/">TechShop</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"> <a class="nav-link" href="/ejemplo2">Mis Autos</a></li>
                    <li class="nav-menu-item"> <a class="nav-link" href="/multimedia">Multimedias</a></li>
                    <li class="nav-menu-item"> <a class="nav-link" href="/iframe">iFrames</a></li>
                </ul>
            </nav>
        </header>
        <div class="Monday">
            <h1 style="text-align: center; background-color: #e1f1ff; color: #714638 ">My cars!</h1>
            <h2>Lunes</h2>
            <img src="/img/vintage-car.jpg" height="300" width="180"/>
        </div>

        <div class="Saturday">
            <h2>Saturday</h2>
            <img src="https://imgs.search.brave.com/t4XAnQ0S82FuQNC4FttFhuGtNuxFVNb7Bjx5wI0HLAk/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzEzLzIwLzEyLzEw/LzM2MF9GXzEzMjAx/MjEwNjJfM3VUNDlZ/eGpvMm8wczNqd3Zi/TDRUN2xyU0RrS21y/WTAuanBn" height="300" width="180"/>

        </div>

        <marquee>I'm not too into cars</marquee>
    </body>
</html>