<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>TechShop</title>
        <!--meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    </head>
    <body>
        <h1 style="text-align: center; background-color: #fffee1; color: #714638">Life is good, Life is sugoi</h1>
        <h1>TechShop</h1>
        <h2>Su tienda en línea</h2>
        <p>El mejor lugar para comprar productos de tech en el planeta!</p>
        <a href="/">TechShop</a>|<a href="/ejemplo2"> My Cars</a>
        <marquee>I never knew I could use java with this </marquee>

    </body>
</html>